@tailwind base;
@tailwind components;
@tailwind utilities;

.controller {
    z-index: 100;
    position: absolute;
    bottom: 0;
    right: 0;
    height:10%;
    width:30%;
    background-color:gray;
}